<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EnrollmentSystemUCB</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EnrollmentSystemUCB.styles.css" asp-append-version="true" />
</head>
<style>
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    body {
        display: flex;
        flex-direction: column;
    }

    main {
        flex: 1;
    }

    footer {
        text-align: left;
        padding: 0px;
        background-color: #f8f9fa; /* Optional: Footer background color */
        border-top: 1px solid #e9ecef; /* Optional: Footer border */
    }

    header {
        text-align: left;
        padding: 10px;
        background-color: #f8f9fa; /* Optional: Footer background color */
        border-bottom: 1px solid #e9ecef; /* Optional: Footer border */
        margin: 0;
    }

    .fixed-header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 5;
        background: linear-gradient(to right, #007bff, #28a745, #17a2b8);
        color: white;
        padding: 10px 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

        .fixed-header .navbar-brand {
            color: white;
            text-decoration: none;
            font-size: 1.5rem;
        }

            .fixed-header .navbar-brand:hover {
                color: #ddd;
            }

    #openNavBtn {
        font-size: 30px;
        cursor: pointer;
        color: white;
    }

</style>
<body>
    <header>
        <div class="fixed-header">
            <a>EnrollmentSystemUCB</a>
        </div>
    </header>
    <main role="main" class="container">
        @RenderBody()
    </main>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - EnrollmentSystemUCB - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
